@font-face {
  font-family: "Favorit Pro";
  src: url("./fonts/FavoritPro-Regular.otf") format("opentype"),
    url("./fonts/FavoritPro-Bold.otf") format("opentype"),
    url("./fonts/GT-Flexa-Mono-Regular-Trial.otf") format("opentype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Favorit Pro", sans-serif;
}

body {
  background-color: #f5f5ff;
}
